<body>
<div *ngIf="product.length!=0" class="page-container"> <!--logic for items in cart-->
  <div class="container">
  <div class="mat-card" id="inCart">
    <div class="cart-product">
      <table class="table table-responsive-md">
        <thead>
        <tr>
          <th>Product</th>
          <th>Image</th>
          <th>Description</th>
          <th>Price</th>
          <th>Brand</th>
          <th>Delete Product</th>
        </tr>
        </thead>
        <tbody>
          <tr *ngFor="let prod of product">
            <td><img src={{prod.image}} style="width: 350px" alt="Product-Image"></td>
            <td>{{prod.pname}}</td>
            <td>{{prod.desc}}</td>
            <td>{{prod.price}}</td>
            <td>{{prod.brand}}</td>
            <td>
              <button class="mat-flat-button" (click)="deleteItem(prod)"><i class="fas fa-solid fa-trash"></i></button>
            </td>
          </tr>
        </tbody>
        <tr>
          <td colspan="4" class="total_cost">Grand total: ${{totalCost}}</td>
        </tr>
        <tr>
          <td colspan="2"><button class="mat-flat-button" (click)="removeAllItems()" style="width: 40%">Clear Cart</button></td>
          <td colspan="2"><button class="mat-flat-button" (click)="enterProduct()" style="width: 40%">Products</button></td>
          <td colspan="2" ><button class="mat-flat-button" (click)="openCheckout()" style="width:100%">Checkout</button></td>
        </tr>
      </table>
    </div>
  </div>
  </div>
</div>





<div *ngIf="product.length==0" style="margin: 0"> <!--empty cart-->
  <div class="mat-card_a"><!--Add logic for empty cart-->
  <h1>My Cart</h1>
<div class="center" style="margin: 0">
  <img src="/assets/images/empty-cart.webp" alt="Empty Cart">
  <h2>Cart is Empty</h2>
  <h4>To add products to your cart click below</h4>
  <button class="mat-raised-button" id="shopMore" (click)="enterProduct()">Shop for products here!</button>
</div>
  </div>
</div>
</body>
