<div class="form-container">
  <div class="title">
    <h2>New Posting</h2>
  </div>
  <div class="warning-message">{{ missingFieldsMessage }}</div>
  <form #productForm="ngForm" [formGroup]="pForm" (ngSubmit)="verifyProduct($event)">
    <div class="form-group row">
      <label for="pname" class="col-sm-2 col-form-label">Post Title</label>
      <div class="col-sm-10">
        <input
          type="text"
          class="form-control"
          formControlName="pname"
          id="pname"
        />
        <div
          *ngIf="
            pForm.get('pname')?.errors &&
            (pForm.get('pname').dirty || pForm.get('pname').touched)
          "
        >
          <small
            class="text-danger"
            *ngIf="pForm.get('pname').hasError('required')"
            >This field is required.</small
          >
          <small
            class="text-danger"
            *ngIf="pForm.get('pname').hasError('minlength')"
            >The minimum length for this field is
            {{ pForm.get("pname").errors.minlength.requiredLength }}
            characters.</small
          >
        </div>
      </div>
    </div>
    <div class="form-group row">
      <label for="inputState" class="col-sm-2 col-form-label">Category</label>
      <div class="form-group col-md-10">
        <select
          id="inputState"
          class="form-control"
          formControlName="category"
        >
          <option selected="" value="">Choose a category</option>
          <option value="Accessories">Accessories</option>
          <option value="Art">Art</option>
          <option value="Baby Clothes">Baby Clothes</option>
          <option value="Beauty">Beauty</option>
          <option value="Books">Books</option>
          <option value="Car">Car</option>
          <option value="Collectables">Collectables</option>
          <option value="Computers">Computers</option>
          <option value="DVD">DVD</option>
          <option value="Garden">Garden</option>
          <option value="Graphics Card">Graphics Card</option>
          <option value="Homemade Products">Homemade Products</option>
          <option value="Large Furnitures">Large Furnitures</option>
          <option value="Men Clothes">Men Clothes</option>
          <option value="Monitor">Monitor</option>
          <option value="Nintendo Consoles">Nintendo Consoles</option>
          <option value="Phone">Phone</option>
          <option value="Shoes">Shoes</option>
          <option value="Sony Consoles">Sony Consoles</option>
          <option value="Sports">Sports</option>
          <option value="Tablets">Tablets</option>
          <option value="Toys">Toys</option>
          <option value="TV">TV</option>
          <option value="Video Games">Video Games</option>
          <option value="Watches">Watches</option>
          <option value="Women Clothes">Women Clothes</option>
          <option value="XBOX">XBOX</option>
          <option value="Others">Others</option>
        </select>
        <div
          *ngIf="
            pForm.get('category')?.errors &&
            (pForm.get('category').dirty ||
              pForm.get('category').touched)
          "
        >
          <small
            class="text-danger"
            *ngIf="pForm.get('category').hasError('required')"
            >This field is required.</small
          >
        </div>
      </div>
    </div>

    <div class="form-group row">
      <label for="brand" class="col-sm-2 col-form-label">Brand</label>
      <div class="col-sm-10">
        <input
          type="text"
          class="form-control"
          formControlName="brand"
          id="brand"
        />
        <div
          *ngIf="
            pForm.get('brand')?.errors &&
            (pForm.get('brand').dirty || pForm.get('brand').touched)
          "
        >
          <small
            class="text-danger"
            *ngIf="pForm.get('brand').hasError('required')"
            >This field is required.</small
          >
          <small
            class="text-danger"
            *ngIf="pForm.get('brand').hasError('minlength')"
            >The minimum length for this field is
            {{ pForm.get("brand").errors.minlength.requiredLength }}
            characters.</small
          >
        </div>
      </div>
    </div>
    <div class="form-group row">
      <label for="condition" class="col-sm-2 col-form-label"
        >Condition</label
      >
      <div class="col-sm-10">
        <select
          class="form-control"
          id="condition"
          formControlName="condition"
        >
          <option selected="" value="" class="required">
            Choose a condition
          </option>
          <option value="New">New</option>
          <option value="Great">Great</option>
          <option value="Mint">Mint</option>
          <option value="Usable">Usable</option>
        </select>
        <div
          *ngIf="
            pForm.get('condition')?.errors &&
            (pForm.get('condition').dirty ||
              pForm.get('condition').touched)
          "
        >
          <small
            class="text-danger"
            *ngIf="pForm.get('condition').hasError('required')"
            >This field is required.</small
          >
        </div>
      </div>
    </div>

    <div class="form-group row">
      <label for="price" class="col-sm-2 col-form-label">Price</label>
      <div class="col-sm-10">
        <div class="form-row">
          <div class="form-group col-md-1" style="padding-top: 10px">CAD$</div>
          <div class="form-group col-md-11">
            <input
              type="text"
              class="form-control"
              formControlName="price"
            />
            <div
              *ngIf="
                pForm.get('price')?.errors &&
                (pForm.get('price').dirty ||
                  pForm.get('price').touched)
              "
            >
              <small
                class="text-danger"
                *ngIf="pForm.get('price').hasError('required')"
                >This field is required.</small
              >
              <small
                class="text-danger"
                *ngIf="pForm.get('price').hasError('pattern')"
                >Please provide a valid price point.</small
              >
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="form-group row">
      <label for="desc" class="col-sm-2 col-form-label"
        >Description</label
      >
      <div class="col-sm-10">
        <textarea
          class="form-control"
          id="desc"
          formControlName="desc"
          rows="10"
        ></textarea>
        <div
          *ngIf="
            pForm.get('desc')?.errors &&
            (pForm.get('desc').dirty ||
              pForm.get('desc').touched)
          "
        >
          <small
            class="text-danger"
            *ngIf="pForm.get('desc').hasError('required')"
            >This field is required.</small
          >
        </div>
      </div>
    </div>

    <!-- Images -->
    <div class="form-group row">
      <label for="image" class="col-sm-2 col-form-label">Image</label>
      <!-- <form [formGroup]="image" (ngSubmit)="onFileSubmit(imageUploaded)"> -->
        <div class="col-sm-6">
          <input
            type="file"
            class="form-control-file"
            id="image"
            formControlName="image"
            accept="image/*"
            #imageUploaded
          />
        </div>
        <div class="col-sm-3">
          <button
            class="btn btn-outline-primary"
            type="submit"
            value="Add"
            (click)="onFileSubmit(imageUploaded, $event)"
          >
            Add
          </button>
        </div>
      <!-- </form> -->
    </div>
    <div class="form-group row">
      <img src="{{ url }}" style="height:200px; width:200px"/>
    </div>
    <!-- height="200"
          width="200" -->
    <!-- Buttons -->
    <div class="center-container">
      <div class="row">
        <div class="col btn-container">
          <button
            type="button"
            class="btn btn-secondary"
            style="width: 130px; margin-right: 30px"
            (click)="cancelPost()"
          >
            Cancel
          </button>
          <button
            type="submit"
            class="btn btn-primary"
            style="width: 130px; position: absolute"
          >
            List Product
          </button>
        </div>
        <div class="col" id="btn-center"></div>
        <div class="col"></div>
      </div>
    </div>
    <!-- <div class="form-group row">
          <label for="exampleFormControlTextarea1">Example textarea</label>
          <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
        </div> -->
  </form>
</div>

<!-- Button trigger modal -->
<button
  type="button"
  class="btn btn-primary"
  data-toggle="modal"
  data-target="#exampleModalCenter"
  id="modal-btn"
  [hidden]="true"
></button>

<!-- Modal -->
<div
  class="modal fade"
  id="exampleModalCenter"
  tabindex="-1"
  role="dialog"
  aria-labelledby="exampleModalCenterTitle"
  aria-hidden="true"
>
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Cancel Posting</h5>
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          aria-label="Close"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <br />
        Are you sure you want to cancel this posting and return back to home
        page?
      </div>
      <div class="modal-footer">
        <!-- In case user accidentally hits the cancel button -->
        <button type="button" class="btn btn-secondary" data-dismiss="modal">
          Go back to posting
        </button>
        <!-- In case user wants to cancel posting-->
        <button
          type="button"
          class="btn btn-primary"
          (click)="returnToHome()"
          data-dismiss="modal"
        >
          Cancel posting
        </button>
      </div>
    </div>
  </div>
</div>
