.product-list-container {
    margin-top:5%;
    margin-left: 15%;
    margin-right:15%;
    margin-bottom:5%;
    width:100%vw;
    height:100%vh;

}

.title-container {
    text-align: center;
    color: rgb(219, 15, 15);
    margin-top:5%;
}
