<div class="page-container">
  <div class="title-container">
    <h1>Products For Sale</h1>
  </div>

  <div class="d-flex mx-6 card-container" >
    <div class="card product-box" style="width: 18rem" *ngFor="let product of products; let i = index">
      <img class="card-img-top" src={{product.image}} alt="Card image cap" style="height:280px; width: 280px;"/>
      <div class="card-body">
        <h2 class="card-title">{{product.pname}}</h2>
        <h3>CA${{product.price | number : '1.2-2'}}</h3>
        <div class="dropdown-divider"></div>
        <p class="card-text"><b>Descrption</b><br>
          {{product.desc}}
        </p>
      </div>
      <ul class="list-group list-group-flush">
        <li class="list-group-item"><b>Highlights</b></li>
        <li class="list-group-item">Brand: <i>{{product.brand}}</i></li>
        <li class="list-group-item">Condition: {{product.condition}}</li>
        <li class="list-group-item">Posted By: {{product.postedBy}}</li>
      </ul>
      <div class="card-body">
        <a href="#" class="btn btn-outline-primary">Add to cart</a>
      </div>
    </div>
  </div>
</div>
