.center-container{
    width:100%vw;
    height:100%vh;
}

.title{
    margin-top:5%;
    text-align: center;
    color: rgb(219, 15, 15);
}

.form-container{
    margin-top:5%;
    margin-left: 25%;
    margin-right:25%;
    margin-bottom: 13%;
}

#forget-password{
    display: flex;
    align-items: center;
}


.btn-center{
    text-align: center;
}
