<!-- <div>
  <img src="assets/images/dashboard.png" style="width: 100%; height: 700px;" alt="Image Broken">
</div>> -->
<!-- Carousel -->
<div id="demo" class="carousel slide" data-bs-ride="carousel">

  <!-- Indicators/dots -->
  <div class="carousel-indicators">
    <button type="button" data-bs-target="#demo" data-bs-slide-to="0" class="active"></button>
    <button type="button" data-bs-target="#demo" data-bs-slide-to="1"></button>
    <button type="button" data-bs-target="#demo" data-bs-slide-to="2"></button>
  </div>
  
  <!-- The slideshow/carousel -->
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="assets/images/payments.jpg" alt="Los Angeles" class="d-block" style="width:100%">
    </div>
    <div class="carousel-item">
      <img src="assets/images/dashboard.png" alt="Chicago" class="d-block" style="width:100%">
    </div>
    <div class="carousel-item">
      <img src="assets/images/dash.jpg" alt="New York" class="d-block" style="width:100%">
    </div>
  </div>
  
  <!-- Left and right controls/icons -->
  <button class="carousel-control-prev" type="button" data-bs-target="#demo" data-bs-slide="prev">
    <span class="carousel-control-prev-icon"></span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#demo" data-bs-slide="next">
    <span class="carousel-control-next-icon"></span>
  </button>
</div>

<div class="container-fluid mt-3" style="padding: 60px; margin: auto; text-align: center;">
  <h1 style="text-align: center;">How to sell plants online: getting started</h1>
  <img src="assets/images/plant5.jpg" style="width: 30%; height: 400px; padding-bottom: 2%;" alt="Image Broken">
  <p style="display:flex; text-align: justify">Yes, you can ship live plants in the mail! As someone who made her first plant order during the pandemic,
    I can attest to this fact. Three succulents, two cacti, and a string of dolphins arrived in a cardboard box, 
    unharmed and ready to be repotted. Ready to propagate this trend and grow your own plant selling business? Let’s dig in.
    There are more ways to get into the plant selling business than simply shipping houseplants in the mail. 
    How you decide to define your own offerings may depend on the climate where you live, 
    your access to wholesale greenery or space to grow, and how much you’re willing to invest upfront.
    es, you can ship live plants in the mail! As someone who made her first plant order during the pandemic, I can attest to this fact. 
    Three succulents, two cacti, and a string of dolphins arrived in a cardboard box, unharmed and ready to be repotted. Ready to propagate this trend 
    and grow your own plant selling business? Let’s dig in.
    es, you can ship live plants in the mail! As someone who made her first plant order during the pandemic, I can attest to this fact. 
    Three succulents, two cacti, and a string of dolphins arrived in a cardboard box, unharmed and ready to be repotted. 
    Ready to propagate this trend and grow your own plant selling business? Let’s dig in.
  </p>
  <h1 style="text-align: center;">Finding your niche</h1>
  <p style="display:flex; text-align: justify">
    There are more ways to get into the plant selling business than simply shipping houseplants in the mail. 
    How you decide to define your own offerings may depend on the climate where you live, your access to wholesale greenery or space to grow, 
    and how much you’re willing to invest upfront.
  </p>
  <h1>Here are a few ideas to get you started selling plants online:</h1>
  <p>
      Houseplants. Will you specialize in succulents, cacti, or air plants, for example? What can you reliably grow or buy wholesale where you live?
      Outdoor plants. Consider seasonality not just where you live but also where you sell to. Will you run a seasonal business or sell all year round?
      Seeds and bulbs. West Coast Seeds doesn’t sell live plants but it does ship seeds, bulbs, and growing supplies across Canada.
  </p>
</div>

