<div class="center-container">
  <div class="row">
    <div class="col-sm-3">
      <div class="title">
        <h2>My Profile</h2>
      </div>
    </div>
    <div class="col-sm-1"></div>
    <div class="col-sm-8"></div>
  </div>
  
    <div class="row">
      <div class="col-sm-3">
        <div class="card mb-4">
          <div class="card-body text-center">
            <img
              src="assets/images/userlogo.png"
              alt="avatar"
              class="rounded-circle img-fluid"
              style="width: 150px"
            />
            <h1 class="my-3" style="padding-top: 5px; padding-bottom: 5px">
              {{ ufname }} {{ ulname }}
            </h1>
            <p class="text-muted mb-1">{{email}}</p>           
          </div>
        </div>
      </div>
      <div class="col-sm-1"></div>
      <div class="col col-sm-8">
        <h2>Product I have listed...</h2>
      </div>
    </div>
  </div>
  
