.center-container{
    margin-top:5%;
    margin-left: 15%;
    margin-right:15%;
    width:100%vw;
    height:100%vh;
}

.col{
    border-style:solid;
    border-color:red;
    /* margin-right:50px; */
}

.title{
    margin-top:5%;
    /* text-align: center; */
    color: rgb(219, 15, 15);
    /* margin-bottom:3%; */
}