.center-container{
    margin-top:5%;
    margin-bottom:5%;
    margin-left: 15%;
    margin-right:15%;
    width:100vw;
    height:100vh;
}

.col{
}

.title{
    margin-top:5%;
    color: rgb(219, 15, 15);
}
